<%= render "select_modal" %>

<p style="padding-top: 5px; padding-left: 5px;  margin-bottom: 0px;">การตรวจสอบใบกำกับภาษี ประจำวันที่ <%= DateTime.now.strftime('%d/%m/%Y') %></p>
<p class="p-navigator-size" style="padding-top: 10px; padding-left: 5px; padding-bottom: 7px; margin-bottom: 0px; font-weight: 100;">
        <a href="<%= invoices_path(filter: @filter_params) %>" style="color: #000000">เมนูตรวจสอบใบกำกับภาษี </a>
        > 
        <a href="<%= suspect_invoices_path(distribution_center_id: @distribution_center_id, ocr_date: @ocr_date, filter: @filter_params, dc_route_code: @dc_route_code_params, invoice_date: @invoice_date_params, status: @status_params, ocr_status: @ocr_status_params) %>" style="color: #000000"> ประวัติการทำรายการ OCR </a>
        > 
        <a href="<%= suspect_invoice_path(distribution_center_id: @distribution_center_id, ocr_date: @ocr_date, page: @page, dc_route_code: @dc_route_code_params, invoice_date: @invoice_date_params, status: @status_params, ocr_status: @ocr_status_params, filter: @filter_params) %>" style="color: #000000"> ดูรายละเอียดใบกำกับภาษี </a>
</p>
<div id="table" class="table-editable mb-2" style="background-color:  #fff">
    <div class="row">
        <div class="col-sm-8 header-table">
            <h3 class="h3-first-table">รหัส <%= @data[:customer_store_code] %> ชื่อร้านค้า <%= @data[:customer_store_name] %> (ต้องสงสัย <%= @data[:tr_invoices_count] %> รายการ)</h3>
        </div>
        <div class="col-sm-2 header-table" style="text-align: right;">
            <% if @valid_reasons.count > 0 or @invalid_reasons.count > 0 and @data[:validate_reason_id].nil?  %>
                <button id="validate_reason_btn" class="btn btn-dark my-font-size" type="button">สถานะการตรวจ</button>
            <% end %> 
        </div>
        <div class="col-sm-2 header-table" style="text-align: right; padding-left: 0rem;">
            <div class='flex_row'>
                <% if @valid_reasons.count > 0 or @invalid_reasons.count > 0 and @data[:validate_reason_id].nil?  %>
                    <button id="validate_reason_btn" class="btn btn-dark my-font-size" type="button">สถานะการตรวจ</button>
                <% end %>
                
                <ul class="pagination">  
                    <% if @paging[:is_first] == true %>
                        <li class="page-item disabled">
                    <% else %>
                        <li class="page-item">
                    <% end %>
                        <a class="page-link" href="<%= suspect_invoice_path(distribution_center_id: @distribution_center_id, ocr_date: @ocr_date, page: @paging[:page_previous], dc_route_code: @dc_route_code_params, invoice_date: @invoice_date_params, status: @status_params, ocr_status: @ocr_status_params, filter: @filter_params) %>" tabindex="-1" aria-disabled="true"><< </a>
                    </li>

                    <% (@paging[:page_start]..@paging[:page_end]).each do |index| %>
                        <% if @paging[:page_number] == index %>
                            <li class="page-item disabled">
                        <% else %>
                            <li class="page-item">
                        <% end %>
                            <a class="page-link" aria-disabled="true" href="<%= suspect_invoice_path(distribution_center_id: @distribution_center_id, ocr_date: @ocr_date, page: index, dc_route_code: @dc_route_code_params, invoice_date: @invoice_date_params, status: @status_params, ocr_status: @ocr_status_params, filter: @filter_params)%> "><%= index %></a></li>

                        <% if @paging[:page_last] == index %>
                                <% break %>
                        <% end%>
                    <% end %>

                    <% if @paging[:is_last] == true %>
                        <li class="page-item disabled">
                    <% else %>
                        <li class="page-item">
                    <% end %>
                        <a class="page-link" href="<%= suspect_invoice_path(distribution_center_id: @distribution_center_id, ocr_date: @ocr_date, page: @paging[:page_next], dc_route_code: @dc_route_code_params, invoice_date: @invoice_date_params, status: @status_params, ocr_status: @ocr_status_params, filter: @filter_params)%>" tabindex="-1" aria-disabled="true">>></a>
                    </li>
                        
                </ul>     
            <div>       
        </div>
        <div class="col-sm-12 mb-2">
            <span class="p-second-table"><span style="font-weight: 400;" >เลขที่ใบกำกับภาษี </span> <%= @data[:vat_invoice_number] %> </span>
            <span class="p-second-table"><span style="font-weight: 400;" >วันที่ใบกำกับภาษี </span>  <%= @data[:invoice_date] %> </span>
            <span class="p-second-table"><span style="font-weight: 400;" >หน่วยขาย       </span>  <%= @data[:dc_route_code] %> </span>
            <span class="p-second-table"><span style="font-weight: 400;" >ประเภทการขาย </span>  <%= @data[:customer_store_type] %> </span>
            <span class="p-second-table"><span style="font-weight: 400;" >หมายเหตุ       </span>  <%= @data[:remark] %> </span>
        </div>
    </div>
</div>  

<div class="d-flex flex-row">
    <div class="flex-fill" style="background-color: #ffff; margin-right: 0.25rem;">
        <div class="header-table">
            <h5 style="color: #6c757d">รูปภาพจากกระบวนการทำ OCR</h5>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-6">
                <a data-toggle="modal" data-target="#myModal"  ><%= image_tag(@images[@image_index],  class: "img-choosed-size" , id: "imageshow") %></a>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="width: 640px; box-sizing: unset;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" style="padding: 0rem;">
                                <%= image_tag(@images[@image_index], style: "height: 1280pxpx; width: 640px;", id: "imageshow2") %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-4 mb-2"></div>
            <div class="col-sm-8">
                <div class="row" >
                    <% @images.each_with_index do |image, index| %>
                        <div class="col-sm-2">
                            <% if index == 0%>
                                <%= image_tag(image, class: "img-choose img-choose-size border border-secondary", id: "image_#{index}") %>
                            <% else %>
                                <%= image_tag(image, class: "img-choose img-choose-size", id: "image_#{index}") %>
                            <% end %>
                            <!-- <%= image_tag(image,  class: "border border-secondary", style: "width: 64px; height: 128px;") %> </a> -->                            
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-fill" style="background-color: #ffff; margin-left: 0.25rem;">
        <div class="header-table">
            <h5 style="color: #6c757d">Query จาก DBSALE</h5>
            <div class="my-custom-scrollbar-show" >
                <table class="table table-striped table-wrapper-scroll-y" >
                    <thead style="background-color:  #fff;">
                        <tr>
                            <th class="th-left">ลำดับ</th>
                            <th class="th-center">รหัสสินค้า</th>
                            <th class="th-center">รายการ</th>
                            <th class="th-center">ราคา/หน่วย</th>
                            <th class="th-center">จำนวนขาย</th>
                            <th class="th-center">จำนวนเงิน</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @tr_invoice_items.each do |tr_invoice_item|%>
                            <% if tr_invoice_item[:ocr_item_result] == true %>
                                <tr>
                            <% else %>
                                <tr style="background-color: #ffc107;">
                            <% end %>
                                <td class="td-center"> <%= tr_invoice_item[:invoice_sequence] %> </td>
                                <td class="td-center"> <%= tr_invoice_item[:item_code] %>        </td>
                                <td class="td-left">   <%= tr_invoice_item[:short_name] %>       </td>
                                <td class="td-right">  <%= tr_invoice_item[:value_of_unit] %>    </td>
                                <td class="td-right"> <%= tr_invoice_item[:number] %>           </td>
                                <td class="td-right"> <%= tr_invoice_item[:value] %>            </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>